@font-face {
    font-family: "JetBrains Mono";
    src: url(/src/fonts/JetBrainsMono-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 200;
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin-left: 170px;
    margin-right: 170px;
    font-family: 'JetBrains Mono', monospace;
}

span {
    font-size: 35px;
}

header {
    text-align: center;
    margin-top: 12.5px;
}

#header-end {
    margin-top: 12.5px;
    border-style: solid;
}

/* header button {
    height: 100%;
} */

ul {
    margin: 0; /* Обнуляем значение отступов */
    margin-left: 3%;
    text-align: center;
}

ul li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 70px;

}

footer {
    background-color: rgb(34, 34, 34);
    height: 500px;
}

button {
    position: absolute;
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

#wrapper-menu-icon {
    left: 180px;
    top: 45px;
}

#wrapper-search-icon {
    top: 35px;
    right: 260px;
}

#wrapper-login-icon {
    right: 180px;
    top: 38px;
}